body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

$font-roboto: "'Roboto', sans-serif";

$primary: #AA0601;
$white: #fff;
$black: #000;
$black_100: #212529;
$black_200: #00000029;
$red_100: #9F1213;
$red_200: #650300;
$red_300: #FBF2F2;
$gray_100: #707070;
$gray_200: #DEE2E6;
$gray_300: #555555;
$gray_400: #F2F2F2;
$gray_500: #495057;
$gray_600: #00000020;
$brown_100: #5F3E2D;
$brown_200: #B75929;

$container-width: 1320px;
$container-padding-x: 12px;

$colors: (
  "primary": $primary,
  "white": $white,
  "black": $black,
  "black_100": $black_100,
  "black_200": $black_200,
  "red_100": $red_100,
  "red_200": $red_200,
  "red_300": $red_300,
  "gray_100": $gray_100,
  "gray_200": $gray_200,
  "gray_300": $gray_300,
  "gray_400": $gray_400,
  "gray_500": $gray_500,
  "gray_600": $gray_600,
  "brown_100": $brown_100,
  "brown_200": $brown_200,
);

$font-sizes: (
  "64": 64px,
  "48": 48px,
  "42": 42px,
  "36": 36px,
  "32": 32px,
  "30": 30px,
  "24": 24px,
  "20": 20px,
  "18": 18px,
  "16": 16px,
  "14": 14px,
);

$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-direction: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1px: 0.0625,
  2px: 0.125,
  6px: 0.375,
  1: 0.25,
  2: 0.5,
  3: 0.75,
  4: 1,
  5: 1.25,
  6: 1.5,
  7: 1.75,
  8: 2,
  9: 2.25,
  10: 2.5,
  11: 2.75,
  12: 3,
  14: 3.5,
  16: 4,
  20: 5,
  24: 6,
  25: 6.25,
  32: 8,
  38: 9.5,
  50: 12.5
);

.container {
  max-width: $container-width;
  padding: 0 $container-padding-x;
  margin: 0 auto;
  @include tablet {
    padding: 0 36px
  }
}

.font-roboto {
  font-family: $font-roboto;
}

.fw-bold {
  font-weight: bold;
}

.fw-900 {
 font-weight: 900;
}

@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

@each $fontSizeKey, $font-size in $font-sizes {
  .fz-#{$fontSizeKey} {
    font-size: $font-size;
  }
}

@each $typeKey, $type in $spacing-types {
  //m-0
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  //mx-0
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
  }
  //my-0
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  //mt-0,mb-0,ml-0,mr-0
  @each $dirKey, $dir in $spacing-direction {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$dirKey}-#{$sizeKey} {
        #{$type}-#{$dir}: $size * $spacing-base-size;
      }
    }
  }
}