.article-nav-wrap {
  .article-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      transition: filter .1s ease-in;
      &:hover {
        filter: brightness(0.8);
      }
      &:active {
        filter: brightness(0.7);
      }
    }
  }
  .search-btn {
    background: transparent;
    border: none;
    line-height: 1;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.97);
    }
  }
}