.imgs-banner {
  display: flex;
  .img-item {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .banner-img {
    height: 296px;
  }
  @include phone {
    .banner-img {
      height: 136px;
    }
  }
} 