.optical-wrap, .sunglasses-wrap {
  .products-nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-left: 1px solid $gray_200;
    .products-nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.333%;
      text-align: center;
      text-transform: uppercase;
      border-right: 1px solid $gray_200;
      &.active {
        border-bottom: 8px solid $primary;
      } 
    }
  }
  @include tablet {
    .products-nav-section {
      padding: 0;
    }
  }
  @include phone {
    .products-nav {
      .products-nav-link {
        font-size: 16px;
      }
    }
  }
}