.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  .product-item {
    margin-right: 24px;
  }
  &.three-per-row {
    .product-item {
      width: calc(33.333% - 24px);
    }
  }
  &.four-per-row {
    .product-item {
      width: calc(25% - 24px);
    }
  }
  .product-item-img {
    width: 100%;
    height: 224px;
  }
  .product-item-main {
    display: flex;
    justify-content: space-between;
  }
  .color-group {
    display: flex;
    .color {
      width: 24px;
      height: 24px;
      border-radius: 4px;
    }
  }
}