<div class="pagination">
  <button class="page-btn text-gray_300 fz-18 p-3" type="button">上一頁</button>
  <button class="page-btn text-gray_300 fz-18 px-4 py-3" type="button">1</button>
  <button class="page-btn text-gray_300 fz-18 px-4 py-3 active" type="button">2</button>
  <button class="page-btn text-gray_300 fz-18 px-4 py-3" type="button">3</button>
  <button class="page-btn next-page-btn text-gray_300 fz-18 p-3" type="button">下一頁</button>
</div>