.footer{
  .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icons-list {
    display: flex;
    .icon-item {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
    .icon {
      width: 48px;
      height: 48px;
      @include tablet {
        width: 40px;
        height: 40px;
        
      }
    }
  }
  .footer-main {
    border-bottom: 1px solid $white;
    .contact-link {
      display: flex;
      align-items: center;
    }
  }
  .footer-footer {
    display: flex;
    justify-content: space-between;
    .policy-group {
      display: flex;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  .footer-nav {
    a {
      transition: filter .1s ease-in;
      &:hover {
        filter: brightness(0.8);
      }
      &:active {
        filter: brightness(0.7);
      }
    }
  }
}