.header {
  .logo {
    width: 80px;
    height: 48px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-nav {
      a {
        transition: filter .1s ease-in;
        &:hover {
          filter: brightness(0.8);
        }
        &:active {
          filter: brightness(0.7);
        }
      }
    }
  }
  @include phone {
    padding: 0;
    .header-container {
      display: block;
      padding: 0;
      .logo-link {
        display: block;
        padding: 16px;
      }
      .header-nav {
        display: flex;
        flex-wrap: wrap;
        a {
          border: 1px solid $white;
          padding: 12px;
          text-align: center;
          width: 50%;
          margin: 0;
        }
      }
    }
  }
} 