.article-wrap {
  .breadcrumb-section {
    display: flex;
    a {
      &:not(:last-child) {
        &::after {
          content: '/';
          margin: 0 3px;
        }
      }
      transition: color .1s ease-in;
      &:hover {
        color: $red_100;
      }
    }
  }
  .tags-list {
    display: flex;
    .tag-item {
      &:not(:last-child) {
        margin-right: 16px;
      }
      &:hover {
        filter: brightness(1.3);
      }
      &:active {
        filter: brightness(1.1);
      }
    }
  }
  .article-main {
    display: flex;
    flex-wrap: wrap;
  }
  .article-container {
    width: 66.049%;
    margin-right: 24px;
  }
  .tags-sidebar {
    width: 32.098%;
  }
  .aside-tags-list {
    display: flex;
    flex-wrap: wrap;
    .aside-tag-item {
      &:nth-child(2n) {
        width: 50%;
      }
      &:hover {
        filter: brightness(1.3);
      }
      &:active {
        filter: brightness(1.1);
      }
    }
  }
  .tags-sidebar-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  .article-footer {
    width: 66.049%;
    .share-group {
      display: flex;
      border-bottom: 1px solid $gray_300;
      .social-icon {
        width: 24px;
        height: 24px;
      }
    }
    .article-link-group {
      display: flex;
      justify-content: space-between;
      a {
        display: flex;
        &:hover {
          color: $red_100;
        }
      }
    }
  }
  @include tablet {
    .article-nav-container {
      margin-bottom: 8px;
    }
    .article-main {
      .article-subtitle {
        margin-bottom: 24px;
      }
      .article-content {
        img {
          margin-bottom: 16px;
        }
        p {
          margin-bottom: 24px;
        }
      }
      .article-container {
        width: 74.137%;
      }
      .tags-sidebar {
        width: 22.413%;
        a, h3 {
          font-size: 16px;
        }
      }
      .aside-tags-list {
        .aside-tag-item {
          margin-right: 16px;
          &:nth-child(2n) {
            width: inherit;
          }
        }
      }
      .tags-sidebar-title {
        .icon {
          margin-right: 0;
        }
      }
    }
    .article-footer {
      width: 100%;
    }
  }
  @include phone {
    padding-bottom: 64px;
    .article-nav-container {
      margin-bottom: 16px;
    }
    .tags-list {
      .tag-item {
        font-size: 16px;
      }
    }
    .article-main {
      .article-container {
        width: 100%;
        margin-right: 0;
        h1 {
          font-size: 24px;
        }
        .article-subtitle {
          font-size: 16px;
        }
      }
    }
    .tags-sidebar, .article-footer {
      display: none;
    }
  }
}