.blog-wrap {
  .articles-list {
    .article-item {
      display: flex;
      .article-img {
        width: 49.074%;
      }
      .article-main {
        display: flex;
        flex-direction: column;
      }
      .article-text {
        flex-grow: 1;
      }
      .article-link {
        text-transform: uppercase;
        text-align: right;
        transition: filter .1s ease-in;
        &:hover {
          filter: brightness(1.8);
        }
        &:active {
          filter: brightness(1.5);
        }
      }
    }
  }
  .pagination-section {
    display: flex;
    justify-content: center;
  }
}