.location-wrap {
  @include tablet {
    padding-top: 80px;
  }
  .location-main {
    display: flex;
    flex-wrap: wrap;
    .location-card {
      width: 40.586%;
      @include tablet {
        width: 100%;
        display: flex;
        margin: 0 0 24px;
      }
      .location-card-img {
        width: 100%;
        height: 224px;
        @include tablet {
          width: 337px;
          margin-right: 24px;
        }
      }
      .location-card-title, .location-card-main {
        border: 1px solid $gray_600;
      }
      .location-card-phone {
        display: flex;
        align-items: center;
      }
      .location-card-text-group {
        display: flex;
      }
      .location-detail-link {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
    .google-map {
      flex-grow: 1;
      iframe {
        width: 100%;
        height: 100%;
        @include tablet {
          height: 414px;
        }
      }
    }
  }
}