.optical-wrap {
  .title, .subtitle {
    text-align: center;
  }
  .pagination-section {
    display: flex;
    justify-content: center;
  }
  .imgs-section {
    @include tablet {
      display: none;
    }
  }
  .imgs-section-tablet {
    display: none;
    @include tablet {
      display: block;
    }   
  }
}