<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./layout/header') -%>

  <div class="article-wrap pb-20">
    <div class="article-nav-container mb-6">
      <%- include('./components/article-nav') -%>
    </div>
    
    <div class="container">
      <div class="breadcrumb-section mb-2">
        <a class="text-black" href="/week3-4/pages/index.html">首頁</a>
        <a class="text-black" href="/week3-4/pages/blog.html">部落格</a>
        <a class="text-black" href="/week3-4/pages/article.html">特別企劃</a>
        <a class="text-primary" href="/week3-4/pages/article.html">情人特別企劃</a>
      </div>

      <ul class="tags-list fz-24 fw-bold mb-2">
        <li class="tag-item"><a class="text-primary" href="#">#special</a></li>
        <li class="tag-item"><a class="text-primary" href="#">#event</a></li>
      </ul>

      <div class="article-main">
        <div class="article-container">
          <h1 class="fz-48">情人特別企劃</h1>
          <h2 class="article-subtitle fz-24 mb-4">2020 Valentine’s Special</h2>
          <div class="article-content mb-10">
            <img class="mb-2" src="../assets/images/blog-1.png" alt="people">
            <p class="text-gray_300 mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            <img class="mb-2" src="../assets/images/blog-2.png" alt="people">
            <p class="text-gray_300 mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            <img class="mb-2" src="../assets/images/blog-3.png" alt="people">
            <p class="text-gray_300 mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            <img class="mb-2" src="../assets/images/blog-4.png" alt="people">
            <p class="text-gray_300 mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
            <img class="mb-2" src="../assets/images/blog-5.png" alt="people">
            <p class="text-gray_300 mb-10">2/14(五)-2/20(日)<br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br>期間優惠還有~~持他牌鏡框更換鏡片<br>薄型非球面鏡片折300元<br>濾藍光鏡片折500元<br>快快帶上另一半<br>讓彼此每一次睜開眼，都被愛的視線包圍!</p>
          </div>
        </div>
        <aside class="tags-sidebar text-primary fw-bold">
          <h3 class="tags-sidebar-title fz-32 mb-1">
            <span class="material-icons-outlined icon fz-32 mr-3">label</span>
            <span>tags</span>
          </h3>
          <ul class="aside-tags-list fz-24">
            <li class="aside-tag-item mr-6 mb-1"><a href="#" class="text-primary">#special</a></li>
            <li class="aside-tag-item mr-6 mb-1"><a href="#" class="text-primary">#sale</a></li>
            <li class="aside-tag-item mr-6 mb-1"><a href="#" class="text-primary">#new_item</a></li>
            <li class="aside-tag-item mr-6 mb-1"><a href="#" class="text-primary">#interview</a></li>
            <li class="aside-tag-item mr-6 mb-1"><a href="#" class="text-primary">#trivia</a></li>
            <li class="aside-tag-item mr-6 mb-1"><a href="#" class="text-primary">#news</a></li>
            <li class="aside-tag-item mr-6 mb-1"><a href="#" class="text-primary">#event</a></li>
          </ul>
        </aside>
      </div>

      <div class="article-footer">
        <div class="share-group pb-4 mb-6">
          <p class="font-roboto fw-bold mr-4">Share</p>
          <a class="mr-4" href="#"><img class="social-icon" src="../assets/images/logo-facebook.png" alt="facebook"></a>
          <a href="#"><img class="social-icon" src="../assets/images/logo-instagram.png" alt="instagram"></a>
        </div>
        <div class="article-link-group">
          <a href="#" class="text-black">
            <span class="material-icons-outlined mr-3">arrow_back</span>
            <span>上一篇：街頭潮人訪問 1</span>
          </a>
          <a href="#" class="text-black">
            <span class="mr-3">下一篇：街頭潮人訪問 2</span>
            <span class="material-icons-outlined">arrow_forward</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('./layout/footer') -%> 
  
  <script type="module" src="../main.js"></script>
</body>
</html>